*{margin: 0px; padding: ;}

.navbar{
    background-color:#F4A9D8;
    padding: 40px;
    
}
.links{
    float: right;
}

.links a{
    color: #8D1A43;
    margin: 8px;
    font-weight: bold;
    font-size: x-large;
}

.maincont{
    background-color:#F4A9D8;
    height: 90vh;

}